h1{
    background-color: cadetblue;
    margin-right: 60%;
    padding: 50px;
    text-align: center;

}

body{
    background-color: darkgray;
}

button,form{
    background-color: black;
    float: right;;
    margin: 10px;
}

.checkbox{
    float: right;
    margin: 40px;
    word-spacing: 30px;
    
}




