h1{
    background-color: cadetblue;
    margin-right: 60%;
    padding: 50px;
    text-align: center;

}

body{
    background-color: darkgray;
}

button{
    background-color: black;
}

#map{
    height:400px;
    width: 400px;
}