h1{
    background-color: cadetblue;
    margin-right: 60%;
    padding: 50px;
    text-align: center;

}

body{
    background-color: darkgray;
}

button{
    background-color: black;
}

#map{
    height:450px;
    width: 600px;
    padding-bottom: 10px;
}

#weather{
    height:500px;
    width: 500px; 
    padding-left: 90px;
    
}


form{
    padding: 10px;
    margin-left: 20px;
}




    

